@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Permanent+Marker&family=Rubik+Glitch&family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.active {
  background: #ffffff;

}

.font {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-2 {
  font-family: "Trade Winds", system-ui;
  font-weight: 300;
  font-style: normal;
}

.font-3 {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}




.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.swiper {
  margin: 100px auto;
  width: 320px;
  height: 240px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

.swiper-slide:nth-child(1n) {
  background-color: white;
  color: black;

}

.swiper-slide:nth-child(2n) {
  background-color: white;
  color: black;
}

.swiper-slide:nth-child(3n) {
  background-color: white;
  color: black;
}

.swiper-slide:nth-child(4n) {
  background-color: white;
  color: black;
}

.swiper-slide:nth-child(5n) {
  background-color: white;
  color: black;
}

.swiper-slide:nth-child(6n) {
  background-color: white;
  color: black;
}

.swiper-slide:nth-child(7n) {
  background-color: white;
  color: black;
}

.swiper-slide:nth-child(8n) {
  background-color: white;
  color: black;
}

.swiper-slide:nth-child(9n) {
  background-color: white;
  color: black;
}

.swiper-slide:nth-child(10n) {
  background-color: transparent;
  color: black;
}




@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

.class {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  margin: auto;
  width: 1320px;
  height: 500px;
  transition: all 400ms;
}

.class:hover .box {
  filter: grayscale(100%) opacity(24%);
}

.box {
  position: relative;
  background: var(--img) center center;
  background-size: cover;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class .box:hover {
  filter: grayscale(0%) opacity(100%);
}

.class:has(.box-1:hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.class:has(.box-2:hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.class:has(.box-3:hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.class:has(.box-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.class:has(.box-5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
  transform: translateY(-16px);
}

.box:nth-child(even) {
  transform: translateY(16px);
}

.box::after {
  content: attr(data-text);
  position: absolute;
  bottom: 20px;
  background: #000;
  color: #fff;
  padding: 10px 10px 10px 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transform: translateY(60px);
  opacity: 0;
  transition: all 400ms;
}

.box:hover::after {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 400ms;
}





@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.28) 0%,
      rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(30px);
  border-radius: 20px;
  width: min(900px, 100%);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  padding: 0 35px;
  text-align: justify;
}

.info p {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.movie-night {
  background: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}

.btn {
  display: block;
  padding: 10px 40px;
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #784ba0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.btn:hover {
  animation: gelatine 0.5s 1;
}

@keyframes gelatine {

  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

/* SWIPER */

.swiper {
  width: 250px;
  height: 450px;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  user-select: none;
}

.swiper-slide img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-position {
  object-position: 50% 0%;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0f2027, transparent, transparent);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay span {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 7px 18px;
  margin: 10px;
  border-radius: 20px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.2),
    inset -3px 3px 3px rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(74px);
}

.overlay h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0 0 20px 20px;
}

.overlay h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0 0 20px 20px;
}

/* ANIMATED BACKGROUND */

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #ff3cac;
  background-image: linear-gradient(225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}


.image{
  height: 100px;
  width: 90px;
}


.part{
  box-shadow: rgba(255, 255, 255, 0.24) 0px 4px 19px;
}
.part:hover{
  box-shadow: rgba(171, 35, 224, 0.726) 0px 4px 16px, rgba(5, 161, 223, 0.05) 0px 8px 32px;
  border-radius: 10px;
}
.part1{
  box-shadow: rgba(255, 255, 255, 0.24) 0px 4px 19px;
}
.part1:hover{
  box-shadow: rgba(255, 230, 0, 0.726) 0px 4px 16px, rgba(5, 161, 223, 0.05) 0px 8px 32px;
  border-radius: 10px;
}
.part2{
  box-shadow: rgba(255, 255, 255, 0.24) 0px 4px 19px;
}
.part2:hover{
  box-shadow: rgba(255, 115, 0, 0.726) 0px 4px 16px, rgba(5, 161, 223, 0.05) 0px 8px 32px;
  border-radius: 10px;
}
.part3{
  box-shadow: rgba(255, 255, 255, 0.24) 0px 4px 19px;
}
.part3:hover{
  box-shadow: rgba(0, 255, 64, 0.726) 0px 4px 16px, rgba(5, 161, 223, 0.05) 0px 8px 32px;
  border-radius: 10px;
}
.part4{
  box-shadow: rgba(255, 255, 255, 0.24) 0px 4px 19px;
}
.part4:hover{
  box-shadow: rgba(0, 81, 255, 0.726) 0px 4px 16px, rgba(5, 161, 223, 0.05) 0px 8px 32px;
  border-radius: 10px;
}
.part5{
  box-shadow: rgba(255, 255, 255, 0.24) 0px 4px 19px;
}
.part5:hover{
  box-shadow: rgba(140, 0, 255, 0.726) 0px 4px 16px, rgba(5, 161, 223, 0.05) 0px 8px 32px;
  border-radius: 10px;
}
.part6{
  box-shadow: rgba(255, 255, 255, 0.24) 0px 4px 19px;
}
.part6:hover{
  box-shadow: rgba(165, 204, 236, 0.726) 0px 4px 16px, rgba(5, 161, 223, 0.05) 0px 8px 32px;
  border-radius: 10px;
}